<div class="games-container">
  <div class="games">
    <div (click)="goToGame(1)" class="game font-effect-outline" style="background-image: url('../../../../assets/games/lol.jpg')">League Of Legends</div>
    <div (click)="goToGame(2)" class="game font-effect-outline" style="background-image: url('../../../../assets/games/valorant.png')">Valorant</div>
    <div (click)="goToGame(3)" class="game font-effect-outline" style="background-image: url('../../../../assets/games/fortnite.jfif')">Fortnite</div>
    <div (click)="goToGame(4)" class="game font-effect-outline" style="background-image: url('../../../../assets/games/cod.webp')">Call Of Duty</div>
  </div>
</div>
