.topbar {
  border-bottom-style: groove;
  border-width: 10px;
  border-color: var(--primerColor);
  box-shadow: 0 1rem 4rem #000000a6;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    black,
    rgb(46, 46, 46),
    rgb(109, 109, 109)
  );
}
.title {
  font-family: 'Press Start 2p';
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  padding-top: 5rem;
  width: 700px;
  color: var(--primerColor);
  justify-content: center;
  transition: transform 0.5s;
  cursor: pointer;
}
.title:hover {
  transform: scale(1.1);
  color: rgb(184, 184, 25);
}

.user-container {
  display: flex;
  justify-content: flex-end;
}

.svg-user {
  cursor: pointer;
  transition: transform 0.5s;
}

.svg-user:hover {
  transform: scale(1.1);
}

.user {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 5%;
  top: 40%;
  display: block;
  text-align: -webkit-center;
}

.username {
  width: 100%;
  text-align: center;
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-user {
  width: 140px;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  color: white;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
    to bottom,
    black,
    rgb(46, 46, 46),
    rgb(109, 109, 109)
  );
}

.option-user {
  cursor: pointer;
  transition: transform 0.5s;
}
.option-user:hover {
  transform: scale(1.1);
  color: var(--primerColor);
}
