@import url('https://fonts.googleapis.com/css?family=Audiowide&effect=neon|outline|emboss|shadow-multiple');
@import url('https://fonts.googleapis.com/css?family=Lilita+One');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Sora');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: 'Sora', sans-serif;
}

h1,
h2,
h3 {
  color: rgb(205, 205, 0);
}

a {
  color: #ffd700;
}

a:hover {
  color: #ffff00;
  text-decoration: none;
}

.button {
  background-color: rgb(205, 205, 0);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #ff8c00;
}

.notvisible {
  display: none;
}

.visible {
  display: block;
}

#loader-container {
  background-color: #1c1c1c4b;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all 1s ease;
  z-index: 10000;
}

#loader {
  border: 10px solid rgb(228, 228, 228);
  border-top-color: var(--primerColor);
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
