.clips-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}
.clips-title {
  display: block;
  height: 25px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.clips {
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 3rem 2rem; */
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
  margin: 2.5rem;
  cursor: pointer;
  color: black;
  background-position: center;
  background-size: cover;
}

.clips:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
}

.clip {
  position: absolute;
  width: 200px;
}

.clip-content {
  height: 100%;
  width: 100%;
}

.clip-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.top-btn {
  font-size: 25px;
  color: #f9f9f9;
  background-color: var(--primerColor);
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.top-btn:hover {
  background-color: rgb(150, 150, 0);
}

.top-btn:active {
  background-color: rgb(190, 190, 63);
}

.zero-clips {
  text-align: center;
  margin: 10rem;
}
