<div class="container">
  <h2 class="clips-title">Clips del {{ gameName }}</h2>
  <div class="top-container">
    <button class="top-btn" (click)="uploadClip()">Subir Clip</button>
    <div class="top-btn">Filtrar</div>
  </div>
  <div class="clips-container" *ngIf="clips.length != 0; else zeroClips">
    <div
      (click)="openClip(clip.url_clip)"
      class="clips"
      *ngFor="let clip of clips; let i = index"
    >
      <div class="clip font-effect-outline">{{ clip.title }}</div>
      <div class="clip-content">
        <img class="clip-img" src="{{ clip.thumbnail }}" />
      </div>
    </div>
  </div>
</div>

<ng-template #zeroClips>
  <div class="zero-clips">
    No hay clips en esta seccion.
  </div>
</ng-template>

<app-modal id="clips-modal">
  <div normal>
    <app-clips-modal></app-clips-modal>
  </div>
</app-modal>

<app-modal id="upload-modal">
  <div normal>
    <app-upload-modal></app-upload-modal>
  </div>
</app-modal>
