.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.big-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.btn-people {
  font-size: 18px;
  color: #f9f9f9;
  background-color: var(--primerColor);
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.5s;
  /* margin: 1rem; */
}

.btn-people:hover {
  background-color: rgb(150, 150, 0);
}

.btn-people:active {
  background-color: rgb(190, 190, 63);
}
.people-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.people {
  height: 100px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
}
