<div class="big-container">
  <button
    [ngStyle]="{ display: btnPeople }"
    class="btn-people"
    (click)="displayPeople()"
  >
    Quienes somos?
  </button>
  <div class="people-info" [ngStyle]="{ display: peopleInfo }">
    <div class="container">
      <h1>INFORMACION DE LOS PIBES</h1>
      <div class="people-container">
        <div class="people">KATTYOSS</div>
        <div class="people">BYFRANNXL</div>
        <div class="people">NANOQLK</div>
        <div class="people">CEMPOTAKU</div>
        <div class="people">TORINETA</div>
        <div class="people">BANANITA</div>
        <div class="people">ALEX?</div>
      </div>
    </div>
  </div>
</div>
