<div normal>
  <app-default-modal>
    <div class="container-content">
      <div class="title">Subi tu clip</div>
      <div class="form-container">
        <form [formGroup]="uploadForm" (ngSubmit)="uploadClip()" class="form">
          <label class="label-form">
            <span class="label-title">
              Titulo del Clip
            </span>
            <input
              class="input-form"
              type="text"
              [formControlName]="'title'"
              autocomplete="title"
            />
            <div>
              <div
                class="tooltip-text"
                *ngIf="formFields['title'].value! == ''"
              >
                este campo no puede estar vacio.
              </div>
            </div>
          </label>
          <label class="label-form" style="margin-bottom: 1rem;">
            <span class="label-title">
              Link del Clip
            </span>
            <input
              class="input-form"
              type="text"
              [formControlName]="'url'"
              autocomplete="url"
            />
            <div>
              <div class="tooltip-text" *ngIf="formFields['url'].value! == ''">
                este campo no puede estar vacio.
              </div>
            </div>
          </label>
          <div *ngIf="uploadForm.errors && uploadForm.invalid">
            <div class="error">
              {{ errorGen }}
            </div>
          </div>
          <div *ngIf="uploadForm.valid">
            <button
              [disabled]="!uploadForm.valid"
              class="btn-upload"
              type="submit"
            >
              Subir Clip
            </button>
          </div>
        </form>
      </div>
    </div>
  </app-default-modal>
</div>
