.container-modal {
  width: 1000px;
  /* background: var(--primerColor) 0% 0% no-repeat padding-box; */
  background-image: linear-gradient(
    to bottom,
    black,
    rgb(46, 46, 46),
    rgb(109, 109, 109)
  );
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  background-position: bottom;
  animation-name: openAnimation;
  animation-duration: 0.3s;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.close-container {
  display: flex;
  justify-content: flex-end;
  animation-name: openAnimation;
  animation-duration: 0.3s;
}

.close {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

@keyframes openAnimation {
  0% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
