.title {
  font-size: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 23.5px;
  margin-bottom: 23.5px;
}
.container-content {
  margin: 40px;
  height: 500px;
  width: 900px;
}
.subtitle {
  height: 94px;
  color: #ffffff;
  font-size: 23px;
  line-height: 1.4;
}
