<div normal>
  <app-default-modal>
    <div class="container-content">
      <iframe
        [ngStyle]="{ display: iFrame }"
        id="iframe"
        width="100%"
        height="100%"
        [src]="url"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div [ngStyle]="{ display: loader }" id="loader-container">
        <div id="loader"></div>
      </div>
    </div>
  </app-default-modal>
</div>
