@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

@keyframes resize-title {
  0% {
    font-size: 40px;
  }
  50% {
    font-size: 45px;
  }
  100% {
    font-size: 40px;
  }
}
