<div class="container">
  <app-topbar></app-topbar>

  <app-home-content></app-home-content>

  <app-info></app-info>
</div>

<app-modal id="login-modal">
  <div normal>
    <app-login-modal></app-login-modal>
  </div>
</app-modal>

<app-modal id="register-modal">
  <div normal>
    <app-register-modal></app-register-modal>
  </div>
</app-modal>
