.title {
  font-size: 30px;
  letter-spacing: 0px;
  color: var(--primerColor);
  text-align: center;
  border-bottom: 1px solid var(--primerColor);
  padding-bottom: 10.5px;
}
.container-content {
  margin: 40px;
  height: 550px;
  width: 900px;
}
.subtitle {
  height: 94px;
  color: #ffffff;
  font-size: 23px;
  line-height: 1.4;
}
.user {
  width: 130px;
  height: 110px;
  border-radius: 50%;
  margin: 0 auto;
  zoom: 75%;
}
.form-container {
  margin: 0 auto;
  margin-top: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: linear-gradient(
    to bottom,
    black,
    rgb(46, 46, 46),
    rgb(109, 109, 109)
  );
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.75rem rgb(0 0 0 / 25%);
  border-style: groove;
  border-color: var(--primerColor);
  padding: 1rem;
}

.label-form {
  letter-spacing: 0px;
  display: flex;
  color: var(--primerColor);
  flex-direction: column;
  margin-top: 1em;
  width: 40%;
  align-items: center;
}

.label-title {
  margin-bottom: 0.3em;
  font-weight: bold;
  text-align: start;
}

.input-form {
  width: 100%;
  height: 50px;
  background: var(--primerColor) 0f 0% 0% no-repeat padding-box;
  border: 0.5px solid var(--primerColor);
  border-radius: 10px;
  opacity: 1;
  letter-spacing: 0px;
  color: var(--primerColor);
  opacity: 1;
  padding: 0 1em;
  font-size: 18px;
}

.btn-login {
  width: 360px;
  cursor: pointer;
  height: 50px;
  background: var(--primerColor) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  font-size: 19px;
  letter-spacing: 0px;
  color: var(--tercerColor);
  opacity: 1;
  margin-top: 1em;
  transition: background-color 0.5s;
}
.btn-login:hover {
  background-color: rgb(150, 150, 0);
}

.create-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-register {
  width: 250px;
  cursor: pointer;
  height: 50px;
  background: var(--primerColor) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  font-size: 19px;
  letter-spacing: 0px;
  color: var(--tercerColor);
  opacity: 1;
  margin-top: 1.5em;
  transition: background-color 0.5s;
}

.btn-register:hover {
  background-color: rgb(150, 150, 0);
}
