<div normal>
  <app-default-modal>
    <div class="container-content">
      <div class="user">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          height="100%"
          width="100%"
          version="1.1"
          id="userSvg"
          viewBox="0 0 512 512"
          xml:space="preserve"
        >
          <!-- <style type="text/css">
              .st0 {
                fill: var(--textoColor);
              }
            </style> -->
          <g>
            <path
              class="st0"
              d="M458.159,404.216c-18.93-33.65-49.934-71.764-100.409-93.431c-28.868,20.196-63.938,32.087-101.745,32.087   c-37.828,0-72.898-11.89-101.767-32.087c-50.474,21.667-81.479,59.782-100.398,93.431C28.731,448.848,48.417,512,91.842,512   c43.426,0,164.164,0,164.164,0s120.726,0,164.153,0C463.583,512,483.269,448.848,458.159,404.216z"
            />
            <path
              class="st0"
              d="M256.005,300.641c74.144,0,134.231-60.108,134.231-134.242v-32.158C390.236,60.108,330.149,0,256.005,0   c-74.155,0-134.252,60.108-134.252,134.242V166.4C121.753,240.533,181.851,300.641,256.005,300.641z"
            />
          </g>
        </svg>
      </div>
      <div class="title">Registro</div>

      <div class="form-container">
        <form [formGroup]="registerForm" (ngSubmit)="createUser()" class="form">
          <label class="label-form">
            <span class="label-title">
              Usuario
            </span>
            <input
              class="input-form"
              type="text"
              [formControlName]="'username'"
              autocomplete="username"
            />
            <div
              *ngIf="
                formFields['username'].touched && formFields['username'].invalid
              "
              class="tooltip"
            >
              <div
                class="tooltip-text"
                *ngIf="formFields['username'].errors!['required']"
              >
                este campo no puede estar vacio.
              </div>
            </div>
          </label>
          <label class="label-form" style="margin-bottom: 1rem;">
            <span class="label-title">
              Contraseña
            </span>
            <input
              class="input-form"
              type="password"
              [formControlName]="'password'"
              autocomplete="current-password"
            />
            <div
              *ngIf="
                formFields['password'].touched && formFields['password'].invalid
              "
              class="tooltip"
            >
              <div
                class="tooltip-text"
                *ngIf="formFields['password'].errors!['required']"
              >
                este campo no puede estar vacio.
              </div>
            </div>
          </label>

          <div *ngIf="registerForm.errors && registerForm.invalid">
            <div class="error">
              {{ errorGen }}
            </div>
          </div>

          <button
            [disabled]="!registerForm.valid"
            class="btn-register"
            type="submit"
          >
            Crear Usuario
          </button>
        </form>
      </div>
    </div>
  </app-default-modal>
</div>
