.actions {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.action {
  background-image: linear-gradient(
    to bottom,
    black,
    rgb(46, 46, 46),
    rgb(109, 109, 109)
  );
  height: 200px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
  margin: 2rem 4rem;
  cursor: pointer;
  color: var(--primerColor);
  background-position: center;
  background-size: cover;
}
.action:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
}
